<div class="row">
    <div class="col-lg-6">
        <h2>Agregar cliente</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        Formulario
        <form>
            <div class="col-lg-12">
                Nombre Completo (INPUT)
            </div>
            <div class="col-lg-12">
                Email (INPUT)
            </div>
            <br>
            <br>
            <div class="col-lg-12">
                Fecha Ingreso (DATEPICKER)
            </div>
            <div class="col-lg-12">
                Telefono (INPUT)
            </div>
            <div class="col-lg-12">
                Sexo (RADIO BUTTON)
            </div>
            <div class="col-lg-12">
                Aceptar Cancelar (BUTTON)
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/images/create-user.jpg" alt="create-user" width="95%" height="95%">
    </div>
</div>